html,
body,
div,
span,
applet,
object,
iframe,
h1,h2,h3,h4,h5,h6,
p,
blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,
strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,
tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,
time,mark,audio,
video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,
q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}::-moz-focus-inner{padding:0;border:0}
:-moz-placeholder{color:#bcc0c8!important}::-webkit-input-placeholder{color:#bcc0c8}:-ms-input-placeholder{color:#bcc0c8!important}
body{font:12px/20px 'Lucida Grande',Verdana,sans-serif;color:#FFFFFF;background-color:#C7C7C7}input,
textarea,select,label{font-family:inherit;font-size:12px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.login{margin:50px auto;padding:18px 20px;width:360px;background:#980000;background-clip:padding-box;border:1px solid #660000;
border-bottom-color:#320000;border-radius:5px;background-image:-webkit-radial-gradient(cover,#C30E2E,#990000);
background-image:-moz-radial-gradient(cover,#CC0000,#980000);background-image:-o-radial-gradient(cover,#CC0000,#980000);
background-image:radial-gradient(cover,#FE0000,#CC0000);-webkit-box-shadow:inset 0 1px rgba(255,255,255,0.3),inset 0 0 1px 1px 
rgba(255,255,255,0.1),0 2px 10px rgba(0,0,0,0.5);box-shadow:inset 0 1px rgba(255,255,255,0.3),inset 0 0 1px 1px rgba(255,255,255,0.1),
0 2px 10px rgba(0,0,0,0.5)}.login > h1{margin-bottom:20px;font-size:16px;font-weight:700;color:#fff;text-align:center;
text-shadow:0 -1px rgba(0,0,0,0.4)}.login-input{display:block;width:100%;height:37px;margin-bottom:20px;padding:0 9px;
color:#fff;text-shadow:0 1px #000;background:#2b3e5d;border:1px solid #4C0000;border-top-color:#320000;border-radius:4px;
background-image:-webkit-linear-gradient(top,rgba(0,0,0,0.35),rgba(0,0,0,0.2) 20%,rgba(0,0,0,0));
background-image:-moz-linear-gradient(top,rgba(0,0,0,0.35),rgba(0,0,0,0.2) 20%,rgba(0,0,0,0));
background-image:-o-linear-gradient(top,rgba(0,0,0,0.35),rgba(0,0,0,0.2) 20%,rgba(0,0,0,0));
background-image:linear-gradient(to bottom,rgba(0,0,0,0.35),rgba(0,0,0,0.2) 20%,rgba(0,0,0,0));
-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.3),0 1px rgba(255,255,255,0.2);
box-shadow:inset 0 1px 2px rgba(0,0,0,0.3),0 1px rgba(255,255,255,0.2)}.login-input:focus{outline:0;
background-color:#720000;-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.3),0 0 4px 1px rgba(255,255,255,0.6);
box-shadow:inset 0 1px 2px rgba(0,0,0,0.3),0 0 4px 1px rgba(255,255,255,0.6)}.lt-ie9 .login-input{line-height:35px}.login-submit{display:block;
width:100%;height:37px;margin-bottom:15px;font-size:14px;font-weight:700;color:#660000;text-align:center;
text-shadow:0 1px rgba(255,255,255,0.3);background:FF4B4B;background-clip:padding-box;border:1px solid #720000;border-bottom-color:#720000;
border-radius:4px;cursor:pointer;background-image:-webkit-linear-gradient(top,#FF7F7F,#FF4B4B);
background-image:-moz-linear-gradient(top,,#FF4B4B);
background-image:-o-linear-gradient(top,#FFE5E5,#FF7F7F);
background-image:linear-gradient(to bottom,#FFE5E5,#FF7F7F);-webkit-box-shadow:inset 0 1px rgba(255,255,255,0.5),
inset 0 0 7px rgba(255,255,255,0.4),0 1px 1px rgba(0,0,0,0.15);box-shadow:inset 0 1px rgba(255,255,255,0.5),
inset 0 0 7px rgba(255,255,255,0.4),0 1px 1px rgba(0,0,0,0.15)}.login-submit:active{background:#FF4B4B;-webkit-box-shadow:inset 0 1px 5px rgba(0,0,0,0.4),
0 1px rgba(255,255,255,0.1);box-shadow:inset 0 1px 5px rgba(0,0,0,0.4),0 1px rgba(255,255,255,0.1)}.login-p{text-align:center;margin-bottom:5px}.
login-error{text-align:center;color:#A30205;margin-bottom:5px}.footer{text-align:center;color:#FF9}@media (max-width:320px){.login{width:220px}}